doctype html
html
  head
    title Dance Website
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo 
                img(src="img/logo.jpg")
                | HDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    section#introSection
        div Welcome to Hritik's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection 
        h2 Our Mission 
        div.card 
            h3 Dance Perfection
            div.card-content1
                div.image1
                    img(src="img/1.jpg")
                p This is best dance academy 
        div.card 
            h3 Dance the way you like
            div.card-content2 
                div.image2
                    img(src="img/2.png")
                p This is best dance academy 
        div.card 
            h3 Expert Teaching
            div.card-content3
                div.image3
                    img(src="img/3.png")
                p This is best dance academy 
    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors 
            img(src="img/amazon.jpg", alt="Sponsor Image", class="spImage")
            img(src="img/google.jpg", alt="Sponsor Image", class="spImage")
            img(src="img/apple.png", alt="Sponsor Image", class="spImage")
            img(src="img/micro.png", alt="Sponsor Image", class="spImage")
    footer#footer
        | Copyright @ Hritik Goyal | All Rights Reserved
    script
      include ../static/index.js